@media screen and (max-width:480px){
    .logoResponsive{
        transform: translate(1px, -81px);
        max-width: 209px;
    }
    .background-transparent{
        height: 117px;
        background-color: #fcf8e38a;
    }
    .top-nav{
        position: absolute;
    }
    .container-fluid{
        padding-top: 118px;
    }
    .fullBackground{
        background-size: 359px 472px;
    }
}